@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .gradient-box {
    background: linear-gradient(to right, #ffffff 40%, #c69028 40%);
  }

  .bg-gradient-custom {
    background: linear-gradient(to right, #f8cd7b 60%, #f8cd7b 70%, white 90%);
  }
}
